{% load staticfiles %}
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src='//cdnjs.cloudfar.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js'></script>
	{% block scripts %}
	{% endblock scripts %}
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel='stylesheet' href='//cdnjs.cloudfare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css'>
	<style>
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	</style>
	
	<title>COLEX Revenue Tracker</title>
	
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="pull-left"
					<div class="navbar-header">
						<a class="navbar-brand" href="">SP16 Revenue Tracker</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href='' class="dropdown-toggle">Create a Report</a>
							<li><a href=''>New Report</a></li>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block content %}
		{% endblock content %}
	</body>
	<footer>
		<div class='footer' style='height:100px'>
		</div>
	</footer>
</html>
